body{
    background-color: #eff2f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top{
    background-color: #6B9AC4;
}

.introduction{
    background-image: url(tourist.webp);
    border-radius: 0px;
    margin: 0px;
    padding: 150px;
    background-repeat: no-repeat;
    text-align: justify;
}

.introductiontext{
    color: white;
    text-align: center;
    padding: 40px;
    margin: 30px;
    border-radius: 20px;
}

.title{
    text-align: center;
}

.titletext{
    font-size: 30px;
    color: #3fc47b
}

.activitieslist{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 18rem);
    padding: 20px;
    margin: 40px auto;
    gap: 50px;
    justify-content: center;
}

.card{
    margin: 0;
    grid-column: span 1fr;
}

.card-body{ 
    padding: 15px;
    background-color: white;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}

.btn{
    border: 1px solid #6B9AC4;
    color: white;

}
section{
    background-color: #6B9AC4;
    width: 100%;
        margin-top: 10px;
}
